form {
  align-items: center;
  background-color: #588157;
  display: flex;
  height: 80px;
  justify-content: center;
}

form label {
  color: aliceblue;
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

form input , form select {
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding-left: 10px;
}

.valor {
  width: 80px;
}

form button {
  background-color: #3a5a40;
  border-radius: 5px;
  color: aliceblue;
  font-size: 14px;
  font-weight: 700;
}
