header {
  align-items: center;  
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.logo {
  background-color: rgb(54, 94, 2);
  color: rgb(242, 248, 242);
  font-size: 34px;
  font-weight: 900;
  height: 70px;
  line-height: 70px;
  width: 150px;
  text-align: center;
}

header strong {
  font-size: 18px;
  margin-left: 25px;
  margin-right: 10px;
}
